In [1]:
import pandas as pd

# Extract Phase 
## Read the the RTC for the 2017 data

In [2]:
RTC17 = pd.read_excel("./Data/RTC Location 2017_0.xlsx")

In [3]:
RTC17.head(2)

,Date,Police_ref,Easting,Northing,Veh_ref,Cas_ref,Severity,Road_cond,Visibility,Casualties,...,Cross_ctrl,Cross_fac,Weather,SpCond,Carr_haz,Day,Location,Local_Auth,ReportedAt,Parish
0,20170101,17146457,545741,310887,NaN,NaN,3. Slight,2. Wet/Damp,4. Darkness: street lights present and lit,1,...,0. None,0. None within 50m,1. Fine without high winds,0. None,0. None,1. Sunday,CRAB MARSH,E07000010,1. Yes,253
1,20170102,17146536,529059,286852,NaN,NaN,3. Slight,4. Frost/Ice,1. Daylight,1,...,0. None,0. None within 50m,1. Fine without high winds,0. None,0. None,2. Monday,STOCKING FEN ROAD 460 METRES WEST OF JUNCTION ...,E07000011,1. Yes,184

In [4]:
RTC17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1427 entries, 0 to 1426
Data columns (total 36 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1427 non-null   int64
 1   Police_ref  1427 non-null   int64
 2   Easting     1427 non-null   int64
 3   Northing    1427 non-null   int64
 4   Veh_ref     0 non-null      float64
 5   Cas_ref     0 non-null      float64
 6   Severity    1427 non-null   object
 7   Road_cond   1427 non-null   object
 8   Visibility  1427 non-null   object
 9   Casualties  1427 non-null   int64
 10  Pedestrian  1427 non-null   int64
 11  Cycles      1427 non-null   int64
 12  P2W         1427 non-null   int64
 13  OAPs        1427 non-null   int64
 14  Children    1427 non-null   int64
 15  Manoeuvre   1427 non-null   object
 16  Time        1427 non-null   int64
 17  Vehicles    1427 non-null   int64
 18  Roadclass1  1427 non-null   object
 19  Roadnum1    1427 non-null   int64
 20  Road_Type   1427 non-null   object
 21  Speed_Lim   1427 non-null   int64
 22  Junct_det   1427 non-null   object
 23  Junct_ctrl  1427 non-null   object
 24  Roadclass2  1427 non-null   object
 25  Roadnum2    1427 non-null   int64
 26  Cross_ctrl  1427 non-null   object
 27  Cross_fac   1427 non-null   object
 28  Weather     1427 non-null   object
 29  SpCond      1414 non-null   object
 30  Carr_haz    1427 non-null   object
 31  Day         1427 non-null   object
 32  Location    1427 non-null   object
 33  Local_Auth  1427 non-null   object
 34  ReportedAt  1427 non-null   object
 35  Parish      1427 non-null   int64
dtypes: float64(2), int64(16), object(18)
memory usage: 401.5+ KB

In [5]:
RTC17['Time']

0        400
1       1000
2        925
3       1010
4        830
        ...
1422    1209
1423     940
1424    1208
1425    1450
1426    2215
Name: Time, Length: 1427, dtype: int64

Here i notice that time in **"Int"** format so i convert it to **Object**

In [6]:
RTC17['Time'] = RTC17['Time'].astype(str).str.zfill(4)  # Convert to string and pad with zeros
RTC17['Time'] = RTC17['Time'].str[:2] + ':' + RTC17['Time'].str[2:]  # Format as HH:MM

In [7]:
RTC17['Time']

0       04:00
1       10:00
2       09:25
3       10:10
4       08:30
        ...
1422    12:09
1423    09:40
1424    12:08
1425    14:50
1426    22:15
Name: Time, Length: 1427, dtype: object

## Now let's read the second data of 2018

In [8]:
RTC18 = pd.read_csv("./Data/RTC Location 2018.csv")

In [9]:
RTC18.head(2)

,Date,Police_ref,Easting,Northing,Severity,Road_cond,Visibility,Casualties,Pedestrian,Cycles,...,Cross_ctrl,Cross_fac,Weather,SpCond,Carr_haz,Day,Location,Local_Auth,ReportedAt,Parish
0,20180101,18263388,519784,299454,2. Serious,2. Wet/Damp,4. Darkness: street lights present and lit,1,0,0,...,0. None,1. Zebra crossing,1. Fine without high winds,0,0. None,2. Monday,EASTFIELD ROAD AT JN WITH PADHOLME ROAD,E06000031,1. Yes,181
1,20180102,18257386,519682,270658,3. Slight,2. Wet/Damp,6. Darkness: no street lighting,2,0,0,...,0. None,0. None within 50m,1. Fine without high winds,0,0. None,3. Tuesday,NEAR BRAMPTON HUT SERVICES SOUTBOUND A1 NEAR J...,E07000011,1. Yes,26

In [10]:
RTC18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1802 entries, 0 to 1801
Data columns (total 34 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        1802 non-null   int64
 1   Police_ref  1802 non-null   int64
 2   Easting     1802 non-null   int64
 3   Northing    1802 non-null   int64
 4   Severity    1802 non-null   object
 5   Road_cond   1802 non-null   object
 6   Visibility  1802 non-null   object
 7   Casualties  1802 non-null   int64
 8   Pedestrian  1802 non-null   int64
 9   Cycles      1802 non-null   int64
 10  P2W         1802 non-null   int64
 11  OAPs        1802 non-null   int64
 12  Children    1802 non-null   int64
 13  Manoeuvre   1802 non-null   object
 14  Time        1802 non-null   object
 15  Vehicles    1802 non-null   int64
 16  Roadclass1  1802 non-null   object
 17  Roadnum1    1802 non-null   int64
 18  Road_Type   1802 non-null   object
 19  Speed_Lim   1802 non-null   int64
 20  Junct_det   1802 non-null   object
 21  Junct_ctrl  1802 non-null   object
 22  Roadclass2  1801 non-null   object
 23  Roadnum2    1802 non-null   int64
 24  Cross_ctrl  1802 non-null   object
 25  Cross_fac   1802 non-null   object
 26  Weather     1802 non-null   object
 27  SpCond      1802 non-null   int64
 28  Carr_haz    1802 non-null   object
 29  Day         1802 non-null   object
 30  Location    1802 non-null   object
 31  Local_Auth  1802 non-null   object
 32  ReportedAt  1802 non-null   object
 33  Parish      1802 non-null   int64
dtypes: int64(16), object(18)
memory usage: 478.8+ KB

# Transformation Phase
### I will collect these two data sources into one dataFrame

In [11]:
last2RTC = pd.concat([RTC17, RTC18], ignore_index=True)

In [12]:
last2RTC.head(3)

,Date,Police_ref,Easting,Northing,Veh_ref,Cas_ref,Severity,Road_cond,Visibility,Casualties,...,Cross_ctrl,Cross_fac,Weather,SpCond,Carr_haz,Day,Location,Local_Auth,ReportedAt,Parish
0,20170101,17146457,545741,310887,NaN,NaN,3. Slight,2. Wet/Damp,4. Darkness: street lights present and lit,1,...,0. None,0. None within 50m,1. Fine without high winds,0. None,0. None,1. Sunday,CRAB MARSH,E07000010,1. Yes,253
1,20170102,17146536,529059,286852,NaN,NaN,3. Slight,4. Frost/Ice,1. Daylight,1,...,0. None,0. None within 50m,1. Fine without high winds,0. None,0. None,2. Monday,STOCKING FEN ROAD 460 METRES WEST OF JUNCTION ...,E07000011,1. Yes,184
2,20170102,17146662,540027,314219,NaN,NaN,2. Serious,4. Frost/Ice,1. Daylight,1,...,0. None,0. None within 50m,1. Fine without high winds,0. None,0. None,2. Monday,OUTSIDE PECKS FARM CROSS DROVE,E07000010,1. Yes,227

In [70]:
last2RTC['Time']

0       04:00
1       10:00
2       09:25
3       10:10
4       08:30
        ...
3224    08:30
3225    13:40
3226    17:14
3227    12:10
3228    14:57
Name: Time, Length: 3229, dtype: object

Convert the `date` and `time` to a **datetime format**

In [13]:
last2RTC['Date'] = pd.to_datetime(last2RTC['Date'], format='%Y%m%d')

In [14]:
last2RTC['Date']

0      2017-01-01
1      2017-01-02
2      2017-01-02
3      2017-01-02
4      2017-01-02
          ...
3224   2018-12-28
3225   2018-12-28
3226   2018-12-29
3227   2018-12-30
3228   2018-12-31
Name: Date, Length: 3229, dtype: datetime64[ns]

In [15]:
last2RTC['Time'] = pd.to_datetime(last2RTC['Time'], format='%H:%M').dt.time

In [16]:
last2RTC['Time']

0       04:00:00
1       10:00:00
2       09:25:00
3       10:10:00
4       08:30:00
          ...
3224    08:30:00
3225    13:40:00
3226    17:14:00
3227    12:10:00
3228    14:57:00
Name: Time, Length: 3229, dtype: object

In [17]:
last2RTC.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3229 entries, 0 to 3228
Data columns (total 36 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        3229 non-null   datetime64[ns]
 1   Police_ref  3229 non-null   int64
 2   Easting     3229 non-null   int64
 3   Northing    3229 non-null   int64
 4   Veh_ref     0 non-null      float64
 5   Cas_ref     0 non-null      float64
 6   Severity    3229 non-null   object
 7   Road_cond   3229 non-null   object
 8   Visibility  3229 non-null   object
 9   Casualties  3229 non-null   int64
 10  Pedestrian  3229 non-null   int64
 11  Cycles      3229 non-null   int64
 12  P2W         3229 non-null   int64
 13  OAPs        3229 non-null   int64
 14  Children    3229 non-null   int64
 15  Manoeuvre   3229 non-null   object
 16  Time        3229 non-null   object
 17  Vehicles    3229 non-null   int64
 18  Roadclass1  3229 non-null   object
 19  Roadnum1    3229 non-null   int64
 20  Road_Type   3229 non-null   object
 21  Speed_Lim   3229 non-null   int64
 22  Junct_det   3229 non-null   object
 23  Junct_ctrl  3229 non-null   object
 24  Roadclass2  3228 non-null   object
 25  Roadnum2    3229 non-null   int64
 26  Cross_ctrl  3229 non-null   object
 27  Cross_fac   3229 non-null   object
 28  Weather     3229 non-null   object
 29  SpCond      3216 non-null   object
 30  Carr_haz    3229 non-null   object
 31  Day         3229 non-null   object
 32  Location    3229 non-null   object
 33  Local_Auth  3229 non-null   object
 34  ReportedAt  3229 non-null   object
 35  Parish      3229 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(14), object(19)
memory usage: 908.3+ KB

### Choose the columns that related to data warehouse that already created

In [19]:
df=  last2RTC[['Date','Time','Easting','Northing','Location','Local_Auth','Severity','Road_cond','Weather','Visibility','Speed_Lim','Cross_fac','Cross_ctrl','Police_ref','Casualties','OAPs','Children','Cycles','P2W','Pedestrian','Vehicles']]

In [20]:
df.head(2)

,Date,Time,Easting,Northing,Location,Local_Auth,Severity,Road_cond,Weather,Visibility,...,Cross_fac,Cross_ctrl,Police_ref,Casualties,OAPs,Children,Cycles,P2W,Pedestrian,Vehicles
0,2017-01-01,04:00:00,545741,310887,CRAB MARSH,E07000010,3. Slight,2. Wet/Damp,1. Fine without high winds,4. Darkness: street lights present and lit,...,0. None within 50m,0. None,17146457,1,0,1,0,0,0,1
1,2017-01-02,10:00:00,529059,286852,STOCKING FEN ROAD 460 METRES WEST OF JUNCTION ...,E07000011,3. Slight,4. Frost/Ice,1. Fine without high winds,1. Daylight,...,0. None within 50m,0. None,17146536,1,0,0,0,0,0,2

Convert the `Police_ref` to **string** to match with our table

In [21]:
df['Police_ref'] = df['Police_ref'].astype(str)

C:\Users\DELL\AppData\Local\Temp\ipykernel_8448\1086761466.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Police_ref'] = df['Police_ref'].astype(str)

In [22]:
df.describe(include='object')

,Time,Location,Local_Auth,Severity,Road_cond,Weather,Visibility,Cross_fac,Cross_ctrl,Police_ref
count,3229,3229,3229,3229,3229,3229,3229,3229,3229,3229
unique,931,3033,6,3,4,9,5,6,3,3229
top,17:30:00,A14,E07000011,3. Slight,1. Dry,1. Fine without high winds,1. Daylight,0. None within 50m,0. None,17146457
freq,35,14,709,2520,2336,2657,2368,2753,3215,1

Here we can see that the columns values like [`Severity` ,`Road_cond` ,`Weather` ,`Visibility`,`Cross_fac` ,`Cross_ctrl`] 
has **(1. ,0. , 4. , and so on)** in the value .

And of course i dont need it ,So it will be **removed**

In [23]:
df['Cross_ctrl'].value_counts()

0. None                       3215
2. Other authorised person       9
1. School crossing patrol        5
Name: Cross_ctrl, dtype: int64

In [24]:
df['Weather'].value_counts()

1. Fine without high winds       2657
2. Raining without high winds     309
8. Other                           83
9. Unknown                         59
4. Fine with high winds            46
3. Snowing without high winds      26
5. Raining with high winds         25
7. Fog or mist                     19
6. Snowing with high winds          5
Name: Weather, dtype: int64

In [25]:
df['Cross_ctrl'].value_counts()

0. None                       3215
2. Other authorised person       9
1. School crossing patrol        5
Name: Cross_ctrl, dtype: int64

In [26]:
df['Visibility'].value_counts()

1. Daylight                                     2368
4. Darkness: street lights present and lit       481
6. Darkness: no street lighting                  288
7. Darkness: street lighting unknown              72
5. Darkness: street lights present but unlit      20
Name: Visibility, dtype: int64

In [27]:
df['Road_cond'].value_counts()

1. Dry          2336
2. Wet/Damp      822
4. Frost/Ice      57
3. Snow           14
Name: Road_cond, dtype: int64

### I will delete it now

In [28]:
df['Weather'] = df['Weather'].str.replace(r'^\d+\.\s*', '', regex=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_8448\2115955009.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Weather'] = df['Weather'].str.replace(r'^\d+\.\s*', '', regex=True)

In [29]:
df['Weather'].value_counts()

Fine without high winds       2657
Raining without high winds     309
Other                           83
Unknown                         59
Fine with high winds            46
Snowing without high winds      26
Raining with high winds         25
Fog or mist                     19
Snowing with high winds          5
Name: Weather, dtype: int64

In [30]:
df['Severity'] = df['Severity'].str.replace(r'^\d+\.\s*', '', regex=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_8448\4225671047.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Severity'] = df['Severity'].str.replace(r'^\d+\.\s*', '', regex=True)

In [31]:
df['Severity'].value_counts()

Slight     2520
Serious     648
Fatal        61
Name: Severity, dtype: int64

In [32]:
df['Road_cond']= df['Road_cond'].str.replace(r'^\d+\.\s*', '', regex=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_8448\2551559773.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Road_cond']= df['Road_cond'].str.replace(r'^\d+\.\s*', '', regex=True)

In [33]:
df['Visibility']= df['Visibility'].str.replace(r'^\d+\.\s*', '', regex=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_8448\2386662725.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Visibility']= df['Visibility'].str.replace(r'^\d+\.\s*', '', regex=True)

In [34]:
df['Cross_fac']= df['Cross_fac'].str.replace(r'^\d+\.\s*', '', regex=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_8448\863388633.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Cross_fac']= df['Cross_fac'].str.replace(r'^\d+\.\s*', '', regex=True)

In [35]:
df['Cross_ctrl']= df['Cross_ctrl'].str.replace(r'^\d+\.\s*', '', regex=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_8448\346645246.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Cross_ctrl']= df['Cross_ctrl'].str.replace(r'^\d+\.\s*', '', regex=True)

In [36]:
df.describe(include='object')

,Time,Location,Local_Auth,Severity,Road_cond,Weather,Visibility,Cross_fac,Cross_ctrl,Police_ref
count,3229,3229,3229,3229,3229,3229,3229,3229,3229,3229
unique,931,3033,6,3,4,9,5,6,3,3229
top,17:30:00,A14,E07000011,Slight,Dry,Fine without high winds,Daylight,None within 50m,None,17146457
freq,35,14,709,2520,2336,2657,2368,2753,3215,1

In [37]:
df.head(2)

,Date,Time,Easting,Northing,Location,Local_Auth,Severity,Road_cond,Weather,Visibility,...,Cross_fac,Cross_ctrl,Police_ref,Casualties,OAPs,Children,Cycles,P2W,Pedestrian,Vehicles
0,2017-01-01,04:00:00,545741,310887,CRAB MARSH,E07000010,Slight,Wet/Damp,Fine without high winds,Darkness: street lights present and lit,...,None within 50m,None,17146457,1,0,1,0,0,0,1
1,2017-01-02,10:00:00,529059,286852,STOCKING FEN ROAD 460 METRES WEST OF JUNCTION ...,E07000011,Slight,Frost/Ice,Fine without high winds,Daylight,...,None within 50m,None,17146536,1,0,0,0,0,0,2

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3229 entries, 0 to 3228
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        3229 non-null   datetime64[ns]
 1   Time        3229 non-null   object
 2   Easting     3229 non-null   int64
 3   Northing    3229 non-null   int64
 4   Location    3229 non-null   object
 5   Local_Auth  3229 non-null   object
 6   Severity    3229 non-null   object
 7   Road_cond   3229 non-null   object
 8   Weather     3229 non-null   object
 9   Visibility  3229 non-null   object
 10  Speed_Lim   3229 non-null   int64
 11  Cross_fac   3229 non-null   object
 12  Cross_ctrl  3229 non-null   object
 13  Police_ref  3229 non-null   object
 14  Casualties  3229 non-null   int64
 15  OAPs        3229 non-null   int64
 16  Children    3229 non-null   int64
 17  Cycles      3229 non-null   int64
 18  P2W         3229 non-null   int64
 19  Pedestrian  3229 non-null   int64
 20  Vehicles    3229 non-null   int64
dtypes: datetime64[ns](1), int64(10), object(10)
memory usage: 529.9+ KB

In [39]:
df.columns

Index(['Date', 'Time', 'Easting', 'Northing', 'Location', 'Local_Auth',
       'Severity', 'Road_cond', 'Weather', 'Visibility', 'Speed_Lim',
       'Cross_fac', 'Cross_ctrl', 'Police_ref', 'Casualties', 'OAPs',
       'Children', 'Cycles', 'P2W', 'Pedestrian', 'Vehicles'],
      dtype='object')

## Name Conversion

In [40]:

df = df.rename(columns={
    'Date': 'Date',               # Linking to Date dimension
    'Time': 'Time',               # Linking to Time dimension
    'Easting': 'Easting',            # dim_location
    'Northing': 'Northing',          # dim_location
    'Location': 'Location',          # dim_location
    'Local_Auth': 'Local_Authority', # dim_location
    'Severity': 'Severity',       # Linking to Severity dimension
    'Road_cond': 'Road_Condition',   # dim_road_condition
    'Weather': 'Weather',            # dim_road_condition
    'Visibility': 'Visibility',      # dim_road_condition
    'Speed_Lim': 'Speed_Limit',      # dim_road_condition
    'Cross_fac': 'Crossing_Facility',# dim_crossing
    'Cross_ctrl': 'Crossing_Control_Type', # dim_crossing
    'Police_ref': 'Police_Ref',      # fact_incidents
    'Casualties': 'Number_Of_Casualties', # fact_incidents
    'OAPs': 'Number_Of_OAPs',        # fact_incidents
    'Children': 'Number_Of_Children',# fact_incidents
    'Cycles': 'Cycles_Involved',     # fact_incidents
    'P2W': 'P2W_Involved',           # fact_incidents
    'Pedestrian': 'Pedestrians_Involved', # fact_incidents
    'Vehicles': 'Motor_Vehicles_Involved' # fact_incidents
})

In [41]:
df.head(2)

,Date,Time,Easting,Northing,Location,Local_Authority,Severity,Road_Condition,Weather,Visibility,...,Crossing_Facility,Crossing_Control_Type,Police_Ref,Number_Of_Casualties,Number_Of_OAPs,Number_Of_Children,Cycles_Involved,P2W_Involved,Pedestrians_Involved,Motor_Vehicles_Involved
0,2017-01-01,04:00:00,545741,310887,CRAB MARSH,E07000010,Slight,Wet/Damp,Fine without high winds,Darkness: street lights present and lit,...,None within 50m,None,17146457,1,0,1,0,0,0,1
1,2017-01-02,10:00:00,529059,286852,STOCKING FEN ROAD 460 METRES WEST OF JUNCTION ...,E07000011,Slight,Frost/Ice,Fine without high winds,Daylight,...,None within 50m,None,17146536,1,0,0,0,0,0,2

In [42]:
df.columns

Index(['Date', 'Time', 'Easting', 'Northing', 'Location', 'Local_Authority',
       'Severity', 'Road_Condition', 'Weather', 'Visibility', 'Speed_Limit',
       'Crossing_Facility', 'Crossing_Control_Type', 'Police_Ref',
       'Number_Of_Casualties', 'Number_Of_OAPs', 'Number_Of_Children',
       'Cycles_Involved', 'P2W_Involved', 'Pedestrians_Involved',
       'Motor_Vehicles_Involved'],
      dtype='object')

## Copy the data for safe use

In [43]:
dfc = df.copy()

Create a new column named `'ref'` for the **id** i will use in the **foreign key** in the fact table

In [44]:
dfc = dfc.reset_index(drop=False)  

dfc.rename(columns={'index': 'ref'}, inplace=True)

In [45]:
dfc.head(5)

,ref,Date,Time,Easting,Northing,Location,Local_Authority,Severity,Road_Condition,Weather,...,Crossing_Facility,Crossing_Control_Type,Police_Ref,Number_Of_Casualties,Number_Of_OAPs,Number_Of_Children,Cycles_Involved,P2W_Involved,Pedestrians_Involved,Motor_Vehicles_Involved
0,0,2017-01-01,04:00:00,545741,310887,CRAB MARSH,E07000010,Slight,Wet/Damp,Fine without high winds,...,None within 50m,None,17146457,1,0,1,0,0,0,1
1,1,2017-01-02,10:00:00,529059,286852,STOCKING FEN ROAD 460 METRES WEST OF JUNCTION ...,E07000011,Slight,Frost/Ice,Fine without high winds,...,None within 50m,None,17146536,1,0,0,0,0,0,2
2,2,2017-01-02,09:25:00,540027,314219,OUTSIDE PECKS FARM CROSS DROVE,E07000010,Serious,Frost/Ice,Fine without high winds,...,None within 50m,None,17146662,1,0,0,0,0,0,1
3,3,2017-01-02,10:10:00,546900,290440,OUTSIDE PLANTATION FARM WIMBLINGTON ROAD B1093,E07000010,Slight,Frost/Ice,Fine without high winds,...,None within 50m,None,17146686,1,0,0,0,0,0,1
4,4,2017-01-02,08:30:00,529780,270124,38 MARSH LANE UNSPECIFIED ROAD OR LOCATION,E07000011,Slight,Frost/Ice,Fine without high winds,...,None within 50m,None,17146697,1,1,0,0,0,0,1

### Now our data is cleaned lets **transform** it in the shape of our Dimensions and fact tables :

![Model](./Images/Model.png)

## Date Dimension

In [46]:
# Create dim_date
dfc['Date_ID']  = dfc['ref'] 
dfc['Date'] = pd.to_datetime(df['Date'], format='%Y%m%d')  # make sure of that the Date in datetime format
dfc['Day'] = dfc['Date'].dt.day
dfc['Day_Name'] = dfc['Date'].dt.day_name()
dfc['Month'] = dfc['Date'].dt.month
dfc['Month_Name'] = dfc['Date'].dt.month_name()
dfc['Quarter'] = dfc['Date'].dt.quarter
dfc['Year'] = dfc['Date'].dt.year

dim_date = dfc[['Date_ID','Date', 'Day', 'Day_Name', 'Month', 'Month_Name', 'Quarter', 'Year']].reset_index(drop=True)

In [47]:
dim_date

      Date_ID       Date  Day  Day_Name  Month Month_Name  Quarter  Year
0           0 2017-01-01    1    Sunday      1    January        1  2017
1           1 2017-01-02    2    Monday      1    January        1  2017
2           2 2017-01-02    2    Monday      1    January        1  2017
3           3 2017-01-02    2    Monday      1    January        1  2017
4           4 2017-01-02    2    Monday      1    January        1  2017
...       ...        ...  ...       ...    ...        ...      ...   ...
3224     3224 2018-12-28   28    Friday     12   December        4  2018
3225     3225 2018-12-28   28    Friday     12   December        4  2018
3226     3226 2018-12-29   29  Saturday     12   December        4  2018
3227     3227 2018-12-30   30    Sunday     12   December        4  2018
3228     3228 2018-12-31   31    Monday     12   December        4  2018

[3229 rows x 8 columns]

## Time Dimension

In [48]:
# Create dim_time
# Convert 'Time' column to string
dfc['Time'] = dfc['Time'].astype(str)

# Use regex to extract hour and minute
dfc[['Hour', 'Minute']] = dfc['Time'].str.extract(r'(\d{2}):(\d{2}):\d{2}')

# Convert extracted values to integer
dfc['Hour'] = dfc['Hour'].astype(int)
dfc['Minute'] = dfc['Minute'].astype(int)

Here i just transfer the `time` to string because i faced an error using the datetime format extracting `hour`, `minute` standard way

In [49]:
dfc['Time_ID']  = dfc['ref']

In [50]:
dim_time = dfc[['Time_ID','Time', 'Hour', 'Minute']].reset_index(drop=True)

In [51]:
dim_time

      Time_ID      Time  Hour  Minute
0           0  04:00:00     4       0
1           1  10:00:00    10       0
2           2  09:25:00     9      25
3           3  10:10:00    10      10
4           4  08:30:00     8      30
...       ...       ...   ...     ...
3224     3224  08:30:00     8      30
3225     3225  13:40:00    13      40
3226     3226  17:14:00    17      14
3227     3227  12:10:00    12      10
3228     3228  14:57:00    14      57

[3229 rows x 4 columns]

## Location Dimension

In [53]:
# Create dim_location
dfc['Location_ID']  = dfc['ref']
dim_location = dfc[['Location_ID','Easting', 'Northing', 'Location', 'Local_Authority']].reset_index(drop=True)

In [54]:
dim_location

,Location_ID,Easting,Northing,Location,Local_Authority
0,0,545741,310887,CRAB MARSH,E07000010
1,1,529059,286852,STOCKING FEN ROAD 460 METRES WEST OF JUNCTION ...,E07000011
2,2,540027,314219,OUTSIDE PECKS FARM CROSS DROVE,E07000010
3,3,546900,290440,OUTSIDE PLANTATION FARM WIMBLINGTON ROAD B1093,E07000010
4,4,529780,270124,38 MARSH LANE UNSPECIFIED ROAD OR LOCATION,E07000011
...,...,...,...,...,...
3224,3224,545384,308477,CROMWELL ROAD (B198) NEAR JUNCTION WITH UNCLA...,E07000010
3225,3225,546092,309524,ALEXANDRA ROAD,E07000010
3226,3226,515232,305911,"B1443 HIGH STREET JN WITH LINCOLN ROAD, GLINTON",E06000031
3227,3227,558114,256733,BRINKEY ROAD NEAR ST GEORGE'S CHURCH,E07000009
3228,3228,533214,248944,B1042 ROUNDABOUT WITH A603,E07000012

## Severity Dimension

In [55]:
# Create dim_severity
dfc['Severity_ID']  = dfc['ref']
dim_severity = dfc[['Severity_ID','Severity']].reset_index(drop=True)

In [56]:
dim_severity

      Severity_ID Severity
0               0   Slight
1               1   Slight
2               2  Serious
3               3   Slight
4               4   Slight
...           ...      ...
3224         3224   Slight
3225         3225   Slight
3226         3226   Slight
3227         3227   Slight
3228         3228  Serious

[3229 rows x 2 columns]

## Road Condition Dimension

In [57]:
# Create dim_road_condition
dfc['Road_Condition_ID']  = dfc['ref']
dim_road_condition = dfc[['Road_Condition_ID','Road_Condition', 'Weather', 'Visibility', 'Speed_Limit']].reset_index(drop=True)

In [58]:
dim_road_condition

,Road_Condition_ID,Road_Condition,Weather,Visibility,Speed_Limit
0,0,Wet/Damp,Fine without high winds,Darkness: street lights present and lit,30
1,1,Frost/Ice,Fine without high winds,Daylight,60
2,2,Frost/Ice,Fine without high winds,Daylight,60
3,3,Frost/Ice,Fine without high winds,Daylight,60
4,4,Frost/Ice,Fine without high winds,Darkness: street lights present and lit,30
...,...,...,...,...,...
3224,3224,Wet/Damp,Fine without high winds,Daylight,40
3225,3225,Dry,Fine without high winds,Daylight,30
3226,3226,Dry,Fine without high winds,Darkness: street lights present and lit,30
3227,3227,Wet/Damp,Fine without high winds,Daylight,60
3228,3228,Dry,Fine without high winds,Daylight,60

## Crossing Dimension

In [59]:
# Create dim_crossing
dfc['Crossing_ID']  = dfc['ref']
dim_crossing = dfc[['Crossing_ID','Crossing_Facility', 'Crossing_Control_Type']].reset_index(drop=True)

In [60]:
dim_crossing

      Crossing_ID    Crossing_Facility Crossing_Control_Type
0               0      None within 50m                  None
1               1      None within 50m                  None
2               2      None within 50m                  None
3               3      None within 50m                  None
4               4      None within 50m                  None
...           ...                  ...                   ...
3224         3224  Central reservation                  None
3225         3225      None within 50m                  None
3226         3226       Zebra crossing                  None
3227         3227      None within 50m                  None
3228         3228      None within 50m                  None

[3229 rows x 3 columns]

## Fact Incidents Table

In [61]:
dfc

,ref,Date,Time,Easting,Northing,Location,Local_Authority,Severity,Road_Condition,Weather,...,Month_Name,Quarter,Year,Hour,Minute,Time_ID,Location_ID,Severity_ID,Road_Condition_ID,Crossing_ID
0,0,2017-01-01,04:00:00,545741,310887,CRAB MARSH,E07000010,Slight,Wet/Damp,Fine without high winds,...,January,1,2017,4,0,0,0,0,0,0
1,1,2017-01-02,10:00:00,529059,286852,STOCKING FEN ROAD 460 METRES WEST OF JUNCTION ...,E07000011,Slight,Frost/Ice,Fine without high winds,...,January,1,2017,10,0,1,1,1,1,1
2,2,2017-01-02,09:25:00,540027,314219,OUTSIDE PECKS FARM CROSS DROVE,E07000010,Serious,Frost/Ice,Fine without high winds,...,January,1,2017,9,25,2,2,2,2,2
3,3,2017-01-02,10:10:00,546900,290440,OUTSIDE PLANTATION FARM WIMBLINGTON ROAD B1093,E07000010,Slight,Frost/Ice,Fine without high winds,...,January,1,2017,10,10,3,3,3,3,3
4,4,2017-01-02,08:30:00,529780,270124,38 MARSH LANE UNSPECIFIED ROAD OR LOCATION,E07000011,Slight,Frost/Ice,Fine without high winds,...,January,1,2017,8,30,4,4,4,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3224,3224,2018-12-28,08:30:00,545384,308477,CROMWELL ROAD (B198) NEAR JUNCTION WITH UNCLA...,E07000010,Slight,Wet/Damp,Fine without high winds,...,December,4,2018,8,30,3224,3224,3224,3224,3224
3225,3225,2018-12-28,13:40:00,546092,309524,ALEXANDRA ROAD,E07000010,Slight,Dry,Fine without high winds,...,December,4,2018,13,40,3225,3225,3225,3225,3225
3226,3226,2018-12-29,17:14:00,515232,305911,"B1443 HIGH STREET JN WITH LINCOLN ROAD, GLINTON",E06000031,Slight,Dry,Fine without high winds,...,December,4,2018,17,14,3226,3226,3226,3226,3226
3227,3227,2018-12-30,12:10:00,558114,256733,BRINKEY ROAD NEAR ST GEORGE'S CHURCH,E07000009,Slight,Wet/Damp,Fine without high winds,...,December,4,2018,12,10,3227,3227,3227,3227,3227
3228,3228,2018-12-31,14:57:00,533214,248944,B1042 ROUNDABOUT WITH A603,E07000012,Serious,Dry,Fine without high winds,...,December,4,2018,14,57,3228,3228,3228,3228,3228

In [62]:
# Create Fact
fact_incidents = dfc[['Police_Ref','Date_ID','Time_ID','Severity_ID','Location_ID','Road_Condition_ID','Crossing_ID','Number_Of_Casualties', 'Number_Of_OAPs', 'Number_Of_Children',
                     'Cycles_Involved', 'P2W_Involved', 'Pedestrians_Involved', 'Motor_Vehicles_Involved']]

In [63]:
fact_incidents

,Police_Ref,Date_ID,Time_ID,Severity_ID,Location_ID,Road_Condition_ID,Crossing_ID,Number_Of_Casualties,Number_Of_OAPs,Number_Of_Children,Cycles_Involved,P2W_Involved,Pedestrians_Involved,Motor_Vehicles_Involved
0,17146457,0,0,0,0,0,0,1,0,1,0,0,0,1
1,17146536,1,1,1,1,1,1,1,0,0,0,0,0,2
2,17146662,2,2,2,2,2,2,1,0,0,0,0,0,1
3,17146686,3,3,3,3,3,3,1,0,0,0,0,0,1
4,17146697,4,4,4,4,4,4,1,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3224,18808198,3224,3224,3224,3224,3224,3224,1,0,0,0,0,0,2
3225,18806867,3225,3225,3225,3225,3225,3225,1,0,1,0,0,1,1
3226,18806237,3226,3226,3226,3226,3226,3226,1,1,0,0,0,0,1
3227,18814714,3227,3227,3227,3227,3227,3227,1,0,0,0,0,0,1
3228,18353251,3228,3228,3228,3228,3228,3228,1,0,0,1,0,0,2

NOW after finishing **Transformation Phase** let's go to **Load Phase**

# Load Phase

In [180]:
from sqlalchemy import create_engine

In [181]:
# Replace with your actual database connection details
user = 'root'
password = 'Jo241003'
host = 'localhost'  
port = '3306'       
database = 'incidents_DW'

# Create the SQLAlchemy engine
engine = create_engine(f'mysql+pymysql://{user}:{password}@{host}:{port}/{database}')

In [ ]:
# Load the DataFrame 'dim_date' into the MySQL database 'dim_date'

dim_date.to_sql('dim_date', con=engine, index=False, if_exists='replace')

In [182]:
# Load the DataFrame 'dim_time' into the MySQL database 'dim_time'

dim_time.to_sql('dim_time', con=engine, index=False, if_exists='replace')

3229

In [183]:
# Load the DataFrame 'dim_location' into the MySQL database 'dim_location'

dim_location.to_sql('dim_location', con=engine, index=False, if_exists='replace')

3229

In [184]:
# Load the DataFrame 'dim_severity' into the MySQL database 'dim_severity'

dim_severity.to_sql('dim_severity', con=engine, index=False, if_exists='replace')

3229

In [185]:
# Load the DataFrame 'dim_road_condition' into the MySQL database 'dim_road_condition'

dim_road_condition.to_sql('dim_road_condition', con=engine, index=False, if_exists='replace')

3229

In [186]:
# Load the DataFrame 'dim_crossing' into the MySQL database 'dim_crossing'

dim_crossing.to_sql('dim_crossing', con=engine, index=False, if_exists='replace')

3229

In [187]:
# Load the DataFrame 'fact_incidents' into the MySQL database 'fact_incidents'

fact_incidents.to_sql('fact_incidents', con=engine, index=False, if_exists='replace')

3229